.footer {
  background: #050505;
  color: white;
  padding: 100px 8% 40px;
  border-top: 1px solid rgba(255,255,255,0.08);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-brand {
  max-width: 400px;
}

.footer-brand h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 800;

  background: linear-gradient(
    90deg,
    #ffffff,
    #a855f7
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-brand p {
  color: rgba(255,255,255,0.7);
  line-height: 1.8;
}

.footer-links {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h4 {
  margin-bottom: 20px;
  font-size: 1rem;
  color: white;
}

.footer-column a {
  color: rgba(255,255,255,0.65);
  text-decoration: none;
  margin-bottom: 12px;
  transition: 0.3s ease;
}

.footer-column a:hover {
  color: #a855f7;
}

.footer-bottom {
  margin-top: 80px;
  padding-top: 25px;

  border-top: 1px solid rgba(255,255,255,0.08);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  color: rgba(255,255,255,0.5);
}

.footer-policy {
  display: flex;
  gap: 25px;
}

.footer-policy a {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  transition: 0.3s ease;
}

.footer-policy a:hover {
  color: white;
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 50px;
  }

  .footer-links {
    gap: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}